.main-container{
  width: 90%;
  margin: 0 auto;
}

.buttons-container{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.page-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0px;
}

.visited{
  margin: 20px 0;
}

/* media queries */

/* tablet */
@media screen and (max-width: 768px) {
  .page-title{
    font-size: 30px;
  }
}

/* phone */
@media screen and (max-width: 425px) {
  .page-title{
    font-size: 24px;
  }
}